*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: whitesmoke;
}
.container{
    display: grid;
    grid-template-rows: 80vh  repeat(5 , max-content);
    grid-template-columns: repeat(6 , 1fr);
}
.section-title{
    text-align: center;
    padding: 25px;
    font-size: 27px;
    color: #ab783d;
}
.section-title:before ,
.section-title:after{
    background-color: black;
    content: '';
    display: inline-block;
    height: 2px;
    position: relative;
    width: 5%;
    vertical-align: middle;
    margin: 20px;
}
.section-title:before {
    right: 0.5rem;
    margin-left: -50%;
}

.section-title:after {
    left: 0.5rem;
    margin-right: -50%;
}